.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .logoContainer {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 120px;
  }
  
  .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .smsInputContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap:"10px"
  }
  
  .input {
    width: 60px;
    height: 60px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .resendText {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
  }
  
  .link {
    color: #3f51b5;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
  }
  
  .submitButton {
    width: 100%;
    background-color: #3f51b5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .submitButton:hover {
    background-color: #334396;
  }
  